<div>
    <h1>Register</h1>
    <form id="registerForm">
        <label>First name</label>
        <input name="first_name"></input>
        <br/>
        <label>Last name</label>
        <input name="last_name"></input>
        <br/>
        <label>Email</label>
        <input name="email"></input>
        <br/>
        <label>Age</label>
        <input name="age"></input>
        <br/>
        <label>Password</label>
        <input type="password" name="password"></input>
        <br/>
        <input type="submit">
    </form>
    <p>Do you have an account? <a href="/login">Login</a></p>
</div>
<script src="/js/register.js"></script>