<h1>Cart</h1>
{{#each cart}}
    <h2>{{this._id}}</h2>
    <h3>Products</h3>
    <ul>
        {{#each this.products}}
            <li>
                <p>{{this._id}}</p>
            </li>
        {{/each}}
    </ul>
{{/each}}
