<header class="container header">
    <div class="row d-flex align-items-center">
        <div class="col-1"><img src="./appleLogo.svg" alt="simbolo" class="img-fluid appleLogo"></div>
        <p class="col-10">iStore</p>
        <a class="col-1 btnStyle" href="api/sessions/logout">Logout</a>
    </div>
</header>
<p class="welcome">Te damos la bienvenida {{user.name}}!</p>
<div class="container">
    <h1 class="mt-5">Bienvenido</h1>
    <hr/>
    <a href="/products-view"><button class="btnStyle">Ver productos</button></a>
</div>