<div>
    <h1>Inyeccion de cookies</h1>
    <form id="cookieForm">
        <label>Nombre</label>
        <input type="text" name="name">
        <label>Correo</label>
        <input type="email" name="email">
        <input type="submit">
    </form>
    <button onclick="getCookie()">Obtener Cokkie</button>
</div>
<script src="/js/cookieSetter.js"></script>